{% if app.user %}
    <div class="js-model-files">
        {% if alreadyBuy %}
            {% include '@App/Catalog/_product_files.html.twig' %}
        {% else %}
            {% if product.block %}
                {% if app.user==product.user or is_granted('ROLE_SUPER_ADMIN') %}
                    {% trans %}model_blocked_by_reason{% endtrans %}
                    <strong>{% if product.blockReason %}{{ product.blockReason }}{% else %}{% trans %}without_reason{% endtrans %}{% endif %}</strong>.
                {% endif %}
            {% else %}
                {% if product.moderated %}
                    <div class="box-button">
                        {% if app.user.models > 0 %}
                            <a href="#" class="button button_warning button_warning--user-buy" onclick="buyThisModel(this, {{ product.id }});return false;">{% trans %}buy_btn{% endtrans %}</a>
                        {% else %}
                            <a href="{{ path('cabinet_buy') }}" class="button button_warning button_warning--user-buy">{{ settings.modelPrice }} р.</a>
                        {% endif %}
                        <span class="button-info">{% trans %}models_available{% endtrans %}
                            <span>- {{ app.user.models }}</span></span>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {% if app.user == product.user or is_granted('ROLE_SUPER_ADMIN') %}
        <br/><br/><br/>
        {% if app.user == product.user %}
            <div class="model-admin-action">
                <a href="{{ path('cabinet_tickets_add', {product:product.id}) }}" class="button button_warning button_moderate">Техподдержка</a>
            </div>
        {% endif %}
        <div class="model-admin-action">
            <a href="{{ path('catalog_product_edit', {alias:product.alias}) }}" class="button button_warning button_moderate">{% trans %}edit{% endtrans %}</a>
        </div>
        <div class="model-admin-action">
            <a href="#delete" class="button button_warning button_moderate fancybox">{% trans %}delete{% endtrans %}</a>
        </div>
        {% if product.moderated == false and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="model-admin-action js-moderation-action">
                <a href="#moderation" class="button button_warning button_moderate fancybox">{% trans %}moderate{% endtrans %}</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') and product.block == false %}
            <div class="model-admin-action js-block-action">
                <a href="#block" class="button button_warning button_moderate fancybox">{% trans %}block{% endtrans %}</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') and product.block %}
            <div class="model-admin-action js-unblock-action">
                <a href="#unblock" class="button button_warning button_moderate fancybox">{% trans %}unblock{% endtrans %}</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="model-admin-action js-unblock-action">
                <a href="#commentAdmin" class="button button_warning button_moderate fancybox">Примечание</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <br/>
            <br/>
            <br/>
            <div>Операции по моделью:</div>
            <table class="table">
                <tr>
                    <th class="td-date">Дата</th>
                    <th>Операция</th>
                    <th>Пользователь</th>
                </tr>
                {% if product.log and product.log|length > 0 %}
                    {% for e in product.log %}
                        <tr>
                            <td>{{ e.date|date("H:i d.m.Y") }}</td>
                            <td>{{ e.text|nl2br }}</td>
                            <td>
                                <a href="{{ path('user_view',{nickname:e.user.nickname}) }}" target="_blank" class="tickets__link">{{ e.user.nickname }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        {% endif %}
    {% endif %}
{% else %}
    {% if product.moderated %}
        <div class="box-button">
            <a href="#login" class="button button_warning button_warning--user-buy fancybox">{{ settings.modelPrice }} р.</a>
        </div>
    {% endif %}
{% endif %}