<h4>{% trans %}comments{% endtrans %} ({{ comments|length }})</h4>
{% for e in comments %}
    <div class="comment">
        <div class="box-top">
            <div class="box-top__avatar">
                <a href="{{ path('user_view',{nickname:e.user.nickname}) }}">
                    <img src="{% if e.user.image %}{% path e.user.image, 'small' %}{% else %}{{ asset('bundles/app/img/user.png') }}{% endif %}" alt="">
                </a>
            </div>
            <div class="box-top__cont">
                {% if is_granted('ROLE_SUPER_ADMIN') and allList is defined and allList %}
                    <div class="comment-model-info">{% trans %}comments_to_model{% endtrans %}: <a href="{{ path('catalog_product', {alias:e.product.alias}) }}">{{ e.product.name }}</a>, {% trans %}user{% endtrans %} <a href="{{ path('user_view', {nickname:e.product.user.nickname}) }}">{{ e.product.user.nickname }}</a></div>
                {% endif %}
                <span class="author">
                    <a href="{{ path('user_view',{nickname:e.user.nickname}) }}">{{ e.user.nickname }}</a>
                    <span class="date">{{ e.date|date("H:i d.m.Y") }}</span>
                </span>
                <p>{{ e.text|nl2br }}</p>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="delete">
                        <a href="#" onclick="showDeleteComment(this);return false;">{% trans %}delete{% endtrans %}</a>
                        <div class="delete-question">
                            <p>
                                {% trans %}comments_delete{% endtrans %}
                            </p>
                            <button type="submit" class="button button_warning" onclick="deleteComment({{ e.id }}, this);return false;">{% trans %}delete{% endtrans %}</button>
                            <button type="submit" class="button button_warning" onclick="cancelDeleteComment(this);return false;">{% trans %}cancel{% endtrans %}</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}