<h4>Комментарии ({{ comments|length }})</h4>
{%  for e in comments %}
    <div class="comment">
        <div class="box-top">
            <div class="box-top__avatar">
                <a href="{{ path('user_view',{nickname:e.user.nickname}) }}">
                    <img src="{{ asset('bundles/app/img/article-avatar.png') }}" alt="">
                </a>
            </div>
            <div class="box-top__cont">
                <span class="author">
                    <a href="{{ path('user_view',{nickname:e.user.nickname}) }}">{{ e.user.nickname }}</a>
                    <span class="date">{{ e.date|date("H:i d.m.Y") }}</span>
                </span>
                <p>{{ e.text|nl2br }}</p>
            </div>
        </div>
    </div>
{% endfor %}