{% extends 'AppBundle::_inside.html.twig' %}

{% block title %}{{ category.nameLocale }}{% endblock %}

{% block wrapper_class %}catalog{% endblock %}

{% block content_wrapper %}

    <div class="wrapper">
        <div class="main-wrap catalog">
            <div class="main-wrap__header">
                {#<div class="box-select-group">
                    <select class="styler">
                        <option value="0">Все форматы</option>
                        <option value="1">Все форма 1</option>
                        <option value="2">Все форма 2</option>
                    </select>
                    <select class="styler">
                        <option value="0">Все стили</option>
                        <option value="1">Все сти 1</option>
                    </select>
                    <select class="styler">
                        <option value="0">Все зоны</option>
                        <option value="1">Лето</option>
                        <option value="2">Зима</option>
                    </select>
                    <select class="styler">
                        <option value="0">По дате</option>
                        <option value="1">рейтингу</option>
                    </select>
                </div>#}
                {% if category.parent %}
                    <h1><a href="{{ path('catalog_category',{alias:category.parent.alias}) }}" class="link link_warning">{{ category.parent.nameLocale }}</a> <span class="text-warning devider">/</span> {{ category.nameLocale }}</h1>
                {% else %}
                    <h1>{{ category.nameLocale }}</h1>
                {% endif %}
            </div>
            {% if category.parent is null and category.children|length > 0 %}
                <div class="sub-cats">
                    {% for e in category.children %}
                        <a class="sub-cats__item" href="{{ path('catalog_category',{alias:e.alias}) }}">{{ e.nameLocale }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

            {% if products|length > 0 %}
                <ul class="product-list col-4">
                    {% for e in products %}
                        {% include 'AppBundle:Catalog:_product_in_category.html.twig' with {'e':e} %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="product_list--empty">{% trans %}category_not_have_models{% endtrans %}</div>
            {% endif %}

    </div>
{% endblock %}
