{% extends 'AppBundle::_inside.html.twig' %}

{% block wrapper_class %}catalog{% endblock %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}model_edit_header{% endtrans %} {{ product.name }}</h1>
    </div>
    <div class="wrap wrap_small">
        <div class="wrap-right">

        </div>
        <div class="wrap-left">
            <div class="box-form settings">
                <form action="{{ path('catalog_product_edit_write', {alias:product.alias}) }}" class="js-add-model-form" method="POST">
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_name{% endtrans %} <span class="require-field-z">*</span></label>
                        <div class="box-field__input">
                            <input type="text" name="name" class="form-control" value="{{ product.name }}" />
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}category{% endtrans %} <span class="require-field-z">*</span></label>
                        <div class="box-field__input">
                            <select name="category" data-placeholder=" " class="styler form-control">
                                <option value=""></option>
                                {% for e in categories %}
                                    {% for e2 in e.children %}
                                        <option value="{{ e2.id }}" {% if product.category == e2 %}selected{% endif %}>{{ e.name }} / {{ e2.name }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field-group user js-image-wrapper js-main-image-drop">
                        <label class="box-field__label">{% trans %}model_cover{% endtrans %} <span class="require-field-z">*</span></label>
                        <div class="box-field__input js-image-add-input" {% if product.image %}style="display: none;"{% endif %}>
                            <input type="file" id="fileuploadMainImage" data-placeholder="{% trans %}file_not_select{% endtrans %}" data-browse="{% trans %}upload_file{% endtrans %}"
                                   class="styler">
                        </div>
                        <div class="model-files js-main-pic">
                            {% if product.image %}
                                <div class="model-files__item">{{ product.image.name }} <i class="fa fa-close" onclick="deleteMainImg(this);"></i><input type="hidden" name="existsMainImg[]" value="{{ product.image.id }}"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-field-group user js-image-wrapper js-add-image-drop">
                        <label class="box-field__label">{% trans %}model_custom_images{% endtrans %} <span class="require-field-z">*</span></label>
                        <div class="box-field__input js-add-pic-input">
                            <input type="file" id="fileuploadAddImages" data-placeholder="{% trans %}file_not_select{% endtrans %}" data-browse="{% trans %}upload_file{% endtrans %}"
                                   class="styler">
                        </div>
                        <div class="model-files js-add-pic">
                            {% for e in product.images %}
                                <div class="model-files__item">{{ e.image.name }} <i class="fa fa-close" onclick="deleteOtherFiles(this);"></i><input type="hidden" name="existsAddImg[]" value="{{ e.id }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-field-group user js-image-wrapper js-files-drop">
                        <label class="box-field__label">{% trans %}model_files{% endtrans %} <span class="require-field-z">*</span></label>
                        <div class="box-field__input">
                            <input type="file" id="fileupload" data-placeholder="{% trans %}file_not_select{% endtrans %}" data-browse="{% trans %}upload_file{% endtrans %}"
                                   class="styler">
                        </div>
                        <div class="model-files js-model-files">
                            {% for e in files %}
                                <div class="model-files__item">{{ e.name }} <i class="fa fa-close" onclick="deleteOtherFiles(this);"></i><input type="hidden" name="existsFiles[]" value="{{ e.id }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_manufacturer{% endtrans %}</label>
                        <div class="box-field__input">
                            <input type="text" name="manufacturer" class="form-control" value="{{ product.manufacturer }}" />
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_tags{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="tags[]" multiple class="select2-tags form-control">
                                {% for e in tags %}
                                    <option value="{{ e.name }}" {% if e in product.tags %}selected{% endif %}>{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_po{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="software[]" multiple class="select2 form-control">
                                {% for e in software %}
                                    <option value="{{ e.id }}" {% if e in product.software %}selected{% endif %}>{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_description{% endtrans %}</label>
                        <div class="box-field__input">
                            <textarea name="text" class="form-control">{{ product.text }}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="button button_warning js-add-model-btn" onclick="editModel();return false;">{% trans %}edit{% endtrans %}</button>
                    <span class="help-text inline add-model__result js-add-model-result"></span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {

            $('#fileuploadMainImage').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-main-image-drop"),
                formData: { type:'mainImg' },
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if(data.result.wp_error){
                        alert(data.result.wp_error_text);
                    }
                    else{
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-main-pic').append(data.result.wp_container);
                        wrapper.find('.js-image-add-input').slideUp();
                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

            $('#fileuploadAddImages').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-add-image-drop"),
                formData: { type:'addImg' },
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if(data.result.wp_error){
                        alert(data.result.wp_error_text);
                    }
                    else{
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-add-pic').append(data.result.wp_container);
                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

            $('#fileupload').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-files-drop"),
                formData: { type:'files' },
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if(data.result.wp_error){
                        alert(data.result.wp_error_text);
                    }
                    else{
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-model-files').append(data.result.wp_container);
                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

        });
    </script>
{% endblock %}