{% extends 'AppBundle::_inside.html.twig' %}

{% block content %}

    <div class="main-wrap__header">
        <h1>{% block cabinetTitle %}{% trans %}settings_header{% endtrans %}{% endblock %}</h1>
    </div>
    <div class="wrap wrap_small support">
        <div class="wrap-right">
            <ul class="wrap-list">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="wrap-list__item">
                        <a href="{{ path('catalog_moderation') }}" class="wrap-list__link">{% trans %}moderation_header{% endtrans %}</a>
                    </li>
                    <li class="wrap-list__item">
                        <a href="{{ path('catalog_products_comments') }}" class="wrap-list__link">{% trans %}comments_model_admin{% endtrans %}</a>
                    </li>
                {% endif %}
                <li class="wrap-list__item">
                    <a href="{{ path('cabinet') }}" class="wrap-list__link">{% trans %}profile{% endtrans %}</a>
                </li>
                <li class="wrap-list__item">
                    <a href="{{ path('notify') }}" class="wrap-list__link">{% trans %}notifications{% endtrans %}</a>
                </li>
                <li class="wrap-list__item">
                    <a href="{{ path('cabinet_tickets') }}" class="wrap-list__link">Обращения в тех поддержку</a>
                </li>
                <li class="wrap-list__item">
                    <a href="{{ path('cabinet_password') }}" class="wrap-list__link">{% trans %}change_password{% endtrans %}</a>
                </li>
                <li class="wrap-list__item">
                    <a href="{{ path('cabinet_social') }}" class="wrap-list__link">{% trans %}socials{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="wrap-left">
            {% block cabinetContent %}{% endblock %}
        </div>
    </div>
{% endblock %}