{% extends 'AppBundle::_inside.html.twig' %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}{{ buying_models }}{% endtrans %}</h1>
    </div>
    <div class="wrap">
        <div class="wrap-right">
            <h4 class="wrap__title">{% trans %}helpful_information{% endtrans %}</h4>
            <ol class="list">
                {% for healpful_line in cabinet_buy['healful_info']|keys %}
                    <li>{{ cabinet_buy['healful_info'][healpful_line]|trans|raw }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="wrap-left">
            {% for left_info in cabinet_buy['left_info']|keys %}
                <p>{{ cabinet_buy['left_info'][left_info]|trans|raw }}</p>
            {% endfor %}
            <div class="box-form payment">
                <form action="#">
                    <dl class="box-label">
                        <dt class="box-label__title">{% trans %}available_3d_models{% endtrans %}</dt>
                        <dd class="box-label__cont">{{ app.user.models }}</dd>
                        <dt class="box-label__title mb25">{% trans %}select_number_purchased{% endtrans %}:</dt>
                        <dd class="box-label__cont mb25">
                            <input type="text" value="10" class="box-label__input js-buy-count" onchange="setBuyCount({{ settings.modelPrice }});" />
                        </dd>
                        <dt class="box-label__title mb25">{% trans %}order_price{% endtrans %}:</dt>
                        <dd class="box-label__cont mb25"><span class="count js-buy-count">{{ 10 * settings.modelPrice }}</span> {% trans %}currency_rub{% endtrans %}.</dd>
                    </dl>
                    <div class="box-field checkbox mb20">
                        <div class="box-field__input">
                            <input type="checkbox" id="buy-rules" class="styler" />
                            <label for="buy-rules" class="box-field__label">
                                {% trans %}i_agree_with{% endtrans %}
                                <a href="{{ path('page_7') }}" target="_blank" class="link">{% trans %}user_agreement{% endtrans %}</a>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="button button_warning" onclick="buyModels();return false;">{% trans %}buy{% endtrans %}</button>
                    <span class="help-text inline settings__result js-buy-models-result"></span>
                    {#<h4 class="box-form__title">Выберите способ оплаты</h4
                    <div class="payment__button-group">
                        <button type="button" class="button button_warning" onclick="buyModels();return false;">Купить</button>
                        <span class="help-text inline settings__result js-buy-models-result"></span>
                        <button type="button" class="button button_warning button_block">Купить через
                            PayPal
                        </button>
                        <button type="button" class="button button_warning button_block">Купить через
                            WebMoney
                        </button>
                    </div>
                    <div class="payment__method"><img src="img/payment.jpg" alt=""></div>>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}