{% extends 'AppBundle:Cabinet:_cabinet_base.html.twig' %}

{% block cabinetTitle %}{% trans %}settings_header{% endtrans %}{% endblock %}

{% block cabinetContent %}
    <div class="box-form settings">
        <form class="js-settings-form" action="{{ path('cabinet_settings_write') }}" method="POST">
            <div class="box-field-group">
                <div class="box-field col-3">
                    <label class="box-field__label">{% trans %}nickname{% endtrans %} <span class="require-field-z">*</span></label>
                    <div class="box-field__input">
                        <input type="text" class="form-control js-require" name="nickname" value="{{ app.user.nickname }}" />
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="box-field-group">
                    <div class="box-field col-1">
                        <label class="box-field__label">{% trans %}level{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="lvl" data-placeholder=" " class="styler form-control">
                                <option value="" {% if app.user.lvl == '' %}selected{% endif %}>{% trans %}without_wins{% endtrans %}</option>
                                <option value="lvl1" {% if app.user.lvl == 'lvl1' %}selected{% endif %}>10 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl2" {% if app.user.lvl == 'lvl2' %}selected{% endif %}>20 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl3" {% if app.user.lvl == 'lvl3' %}selected{% endif %}>30 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl4" {% if app.user.lvl == 'lvl4' %}selected{% endif %}>40 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl5" {% if app.user.lvl == 'lvl5' %}selected{% endif %}>50 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl6" {% if app.user.lvl == 'lvl6' %}selected{% endif %}>60 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl7" {% if app.user.lvl == 'lvl7' %}selected{% endif %}>70 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl8" {% if app.user.lvl == 'lvl8' %}selected{% endif %}>80 {% trans %}wins_postfix{% endtrans %}</option>
                                <option value="lvl9" {% if app.user.lvl == 'lvl9' %}selected{% endif %}>100 {% trans %}wins_postfix{% endtrans %}</option>
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box-field-group user js-image-wrapper">
                <label class="box-field__label">{% trans %}avatar{% endtrans %}</label>
                <div class="box-field col-1">
                    <div class="user__avatar"><img src="{% if app.user.image %}{% path app.user.image, 'big' %}{% else %}{{ asset('bundles/app/img/user-avatar.png') }}{% endif %}" class="js-image" alt=""></div>
                </div>
                <div class="box-field col-5">
                    <div class="user__add-avatar">
                        <div class="box-field__input">
                            <input type="file" id="fileupload" data-placeholder="Файл не выбран"
                                   data-browse="Выберите файл" class="styler">
                        </div>
                        <div class="box-field__input">
                            <span class="help-text inline">{% trans %}avatar_maxsize{% endtrans %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-3">
                    <label class="box-field__label">{% trans %}profile_name{% endtrans %} <span class="require-field-z">*</span></label>
                    <div class="box-field__input">
                        <input type="text" class="form-control js-require" name="i" value="{{ app.user.i }}" />
                    </div>
                </div>
                <div class="box-field col-3">
                    <label class="box-field__label">{% trans %}profile_lastname{% endtrans %} <span class="require-field-z">*</span></label>
                    <div class="box-field__input">
                        <input type="text" class="form-control js-require" name="f" value="{{ app.user.f }}" />
                    </div>
                </div>
                <div class="box-field col-3">
                    <label class="box-field__label">{% trans %}profile_bday{% endtrans %}</label>
                    <div class="box-field__input">
                        <input type="text" class="form-control js-date" name="birthdate" value="{% if app.user.birthdate %}{{ app.user.birthdate|date('d.m.Y') }}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-4">
                    <label class="box-field__label">E-mail <span class="require-field-z">*</span></label>
                    <div class="box-field__input">
                        <input type="email" class="form-control js-require" name="email" value="{{ app.user.email }}" />
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-1">
                    <label class="box-field__label">{% trans %}profile_gender{% endtrans %}</label>
                    <div class="box-field__input">
                        <select name="gender" data-placeholder=" " class="styler form-control">
                            <option value=""></option>
                            <option value="m" {% if app.user.gender == 'm' %}selected{% endif %}>{% trans %}profile_gender_m{% endtrans %}</option>
                            <option value="f" {% if app.user.gender == 'f' %}selected{% endif %}>{% trans %}profile_gender_w{% endtrans %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-3">
                    <label class="box-field__label">{% trans %}profile_lang{% endtrans %}</label>
                    <div class="box-field__input">
                        <select name="languages[]" multiple class="select2 form-control">
                            {% for e in languages %}
                                <option value="{{ e.id }}" {% if e.id in app.user.languages %}selected{% endif %}>{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-5">
                    <label class="box-field__label">{% trans %}profile_specialization{% endtrans %}</label>
                    <div class="box-field__input">
                        <input type="text" class="form-control" name="specialization" value="{{ app.user.specialization }}" />
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <label class="box-field__label">{% trans %}profile_place{% endtrans %}</label>
                <div class="box-field col-2">
                    <div class="box-field__input">
                        <select name="country" data-placeholder="Страна" class="styler form-control">
                            <option value=""></option>
                            {% for e in countries %}
                                <option value="{{ e.id }}" {% if e == app.user.country %}selected{% endif %}>{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="box-field col-2">
                    <div class="box-field__input">
                        <input type="text" class="form-control" placeholder="Город" name="city" value="{{ app.user.city }}" />
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-5">
                    <label class="box-field__label">{% trans %}profile_about_myself{% endtrans %}</label>
                    <div class="box-field__input">
                        <textarea name="text" class="form-control">{{ app.user.text }}</textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="button button_warning" onclick="saveSettings();return false;">{% trans %}change{% endtrans %}</button>
            <span class="help-text inline settings__result js-settings-result"></span>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#fileupload').fileupload({
                url: '{{ oneup_uploader_endpoint('avatars') }}',
                formData: {  },
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 999000,
                // The maximum width of resized images:
                imageMaxWidth: 100,
                // The maximum height of resized images:
                imageMaxHeight: 100,
                imageCrop: true,
                sequentialUploads: true,
                disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
                done: function (e, data) {
                    if(data.result.wp_error){
                        alert(data.result.wp_error_text);
                    }
                    else{
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-image').attr('src',data.result.wp_file);

                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}