{% extends 'AppBundle:Cabinet:_cabinet_base.html.twig' %}

{% block cabinetTitle %}{% trans %}notifications_header{% endtrans %}{% endblock %}

{% block cabinetContent %}
    {% if entities|length > 0 %}
        {% for e in entities %}

            <div class="notify">
                <img src="{% if e.user2.image %}{% path e.user2.image, 'small' %}{% else %}{{ asset('bundles/app/img/user.png') }}{% endif %}" class="notify__photo">
                <div class="notify__info">
                    <div class="notify__date">{{ e.dateStr }}</div>
                    <div class="notify__text">
                        <a href="" class="notify__link">{{ e.user2.nickname }}</a>&nbsp;{% if e.type == 'buy' %}купил{% else %}прокомментировал{% endif %} вашу модель "<a href="" class="notify__link">{{ e.product.name }}</a>"
                        {% if e.type == 'buy' %}<span class="notify__sum">+120 р.</span>{% endif %}
                    </div>
                    {% if e.type == 'comment' %}
                        <div class="notify__comment">{{ e.text|nl2br }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="article__no-items">
            {% trans %}notifications_not_found{% endtrans %}
        </div>
    {% endif %}
{% endblock %}
