{% extends 'AppBundle::_inside.html.twig' %}

{% block mainClass %}product-page{% endblock %}

{% block content %}
    <div class="box-breadcrumbs">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-list__item"><a href="{{ path('cabinet') }}" class="breadcrumbs-list__link">Личный кабинет</a></li>
            <li class="breadcrumbs-list__item"><a href="{{ path('cabinet_tickets') }}" class="breadcrumbs-list__link">Обращения в тех поддержку</a></li>
            <li class="breadcrumbs-list__item"><span>{{ entity.name }}</span></li>
        </ul>
    </div>
    <div class="wrap product">
        <div class="wrap-right">
            <div class="product-info js-ticket-data">
                {% include 'AppBundle:Cabinet:_ticket_data.html.twig' %}
            </div>
        </div>
        <div class="wrap-left">
            <div class="box-comment">
                <h1>{{ entity.name }}</h1>
                <span class="author">{% trans %}product_from{% endtrans %}: <a href="{{ path('user_view',{nickname:entity.user.nickname}) }}" target="_blank" class="long">{{ entity.user.nickname }}</a><span class="ic icon-author-rating icon-author-rating__{{ entity.user.lvl }}"></span></span>
                {% if entity.product %}
                    <div class="tickets__model">
                        модель: <a href="{{ path('catalog_product',{alias:entity.product.alias}) }}" target="_blank" class="tickets__model-link">{{ entity.product.name }}</a>
                    </div>
                {% endif %}
                <div class="tickets__info">
                    Текст обращения:
                    <br />
                    <br />
                    {{ entity.text|nl2br }}
                </div>
                <div class="js-comments">
                    {% include 'AppBundle:Cabinet:_ticket_comments.html.twig' %}
                </div>
                {% if app.user %}
                    <div class="comments-add">
                        <textarea name="text" placeholder="{% trans %}enter_comment{% endtrans %}" class="form-control js-comments-textarea"></textarea>
                        <button type="button" class="button button_warning js-add-model-btn" onclick="addTicketComment({{ entity.id }}, this);return false;">{% trans %}add_comment{% endtrans %}</button>
                        <span class="help-text inline add-model__result js-add-comment-result"></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}