<!DOCTYPE html>
<html lang="" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}SYM покупайте и продавайте 3D модели{% endblock %} | SellYourModel</title>
    <!--link(rel="apple-touch-icon", href="apple-touch-icon.png")-->
    <!--Place favicon.ico in the root directory-->

    {% stylesheets
    'bundles/app/css/style.css'
    'bundles/app/admin/jquery_upload/css/jquery.fileupload.css'
    'bundles/app/custom-js/croppie/croppie.css'
    'bundles/app/custom-js/select2/css/select2.css'
    'bundles/app/custom-js/jquery-ui/jquery-ui.css'
    'bundles/app/custom-js/jquery-ui/jquery-ui.structure.css'
    'bundles/app/custom-js/jquery-ui/jquery-ui.theme.css'
    'bundles/app/custom-js/anythingslider/css/anythingslider.css'
    'bundles/app/custom-css/*.css'
    'bundles/app/pages/*.css'
    filter='cssrewrite' output='css/20170713-2.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- [if lt IE 9] -->
    <script src="{{ asset('bundles/app/js/html5.js') }}"></script>
    <!-- [endif] -->
</head>
<body>
<!-- BEGIN BODY -->
<div class="main-wrapper">
    <!-- BEGIN HEADER-->
    <header>
        <div class="wrapper">
            <div class="header-top">
                <a href="{{ path('homepage') }}" class="logo">
                    <img src="{{ asset('bundles/app/img/svg/logo.svg') }}" class="logo__svg">
                </a>
                <nav class="box-nav-list">
                    <ul class="nav-list unstyled">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-list__item"><a href="{{ path('catalog_moderation') }}" class="nav-list__link"><span>Модерация</span></a></li>
                            <li class="nav-list__item"><a href="{{ path('sonata_admin_dashboard') }}" class="nav-list__link"><span>Администрирование</span></a></li>
                        {% endif %}
                        <li class="nav-list__item"><a href="{{ path('page_2') }}" class="nav-list__link"><span>{% trans %}about{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="{{ path('page_3') }}" class="nav-list__link"><span>{% trans %}buy{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="{{ path('community') }}" class="nav-list__link"><span>{% trans %}community{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="#" class="nav-list__link"><span>{% trans %}support{% endtrans %}</span></a></li>
                        <li class="nav-list__item">
                            <a href="#" data-target="#box-lang" class="nav-list__link arrow-down js-link-open">
                                <span>Язык:</span>
                                <span class="nav-list__icon">
                                    <span class="ic ic_flag-{{ app.request.locale }}"></span>
                                </span>
                            </a>
                            {{ sites() }}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom">
                <div class="header-table"><a href="#" data-target="#nav" class="header-table__item js-link-open models"><span class="models__text arrow-down">3D models</span></a>
                    <div class="header-table__item search">
                        <form method="GET" action="{{ path('search') }}">
                            <input type="text" name="search" value="{{ app.request.get('search') }}" onkeyup="autoSearch(this);" onchange="autoSearch(this);" autocomplete="off" placeholder="Поиск" class="js-search-val search__input form-control">
                            <input type="submit" value="" class="search__button js-search-val" />
                            <div class="search__results js-quick-search-results"></div>
                        </form>
                    </div>
                    {% if app.user %}
                        <a href="{{ path('catalog_add') }}" class="header-table__item add-models"><span>{% trans %}model_add{% endtrans %}</span></a>
                        <div data-target="#nav-profile" class="header-table__item mini-profile js-link-open {% block navblock_active_class %}{% endblock %}">
                            <a href="#" class="mini-profile__img" style="width:45px;"><img src="{% if app.user.image %}{% path app.user.image, 'small' %}{% else %}{{ asset('bundles/app/img/user.png') }}{% endif %}" alt=""></a>
                            <a href="#" class="mini-profile__link">
                                <span class="arrow-down mini-profile__link-login-wrapper">
                                    <span class="mini-profile__link-login-name">{{ app.user.nameProfileMini }}</span><span class="ic icon-author-rating icon-author-rating__{{ app.user.lvl }}"></span>
                                </span>
                            </a>
                        </div>
                    {% else %}
                        <a href="#login" class="header-table__item link-login fancybox"><span>Войти </span></a>
                        <a href="{{ path('registration') }}" class="header-table__item link-registr"><span>Регистрация</span></a>
                    {% endif %}
                </div>
                <div id="nav" class="navigation js-open-block">
                    {{ menu() }}
                </div>
                {% if app.user %}
                    <div id="nav-profile" style="{% block navblock_style %}{% endblock %}" class="nav-profile js-open-block js-open-block-noclose">
                        <ul class="nav-profile-list unstyled">
                            <li class="nav-profile-list__item"><a href="{{ path('user_view',{nickname:app.user.nickname}) }}" class="nav-profile-list__link">Публичный Профаил</a></li>
                            <li class="nav-profile-list__item"><a href="{{ path('cabinet') }}" class="nav-profile-list__link">Настройки</a></li>
                            <li class="nav-profile-list__item"><a href="{{ path('notify') }}" class="nav-profile-list__link">Уведомления{#<span class="kbd">2</span>#}</a></li>
                            <li class="nav-profile-list__item"><a href="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}{{ path('homepage',{_switch_user: "_exit"}) }}{% else %}{{ path('fos_user_security_logout') }}{% endif %}" class="nav-profile-list__link">Выход</a></li>
                        </ul>
                        <div class="nav-profile-wrap">
                            <div class="nav-profile__item">
                                <div class="nav-profile__title"><a href="{{ path('user_view',{nickname:app.user.nickname}) }}">Загруженные модели</a></div>
                                <div class="nav-profile__count">{{ app.user.modelsLoaded }}</div>
                                <div class="nav-profile__footer">      <span class="delspin"><a href="{{ path('user_view',{nickname:app.user.nickname}) }}">Просмотры</a><span class="kbd">{{ app.user.modelsLoadedView }}</span></span><span class="delspin"><a href="{{ path('user_view',{nickname:app.user.nickname}) }}">Коментарии</a><span class="kbd">{{ app.user.modelsLoadedComments }}</span></span></div>
                            </div>
                            <div class="nav-profile__item">
                                <div class="nav-profile__title"><a href="{{ path('user_view',{nickname:app.user.nickname, "tab":"stats"}) }}">Текущие продажи</a><span class="simbol">?</span></div>
                                <div class="nav-profile__count">${{ app.user.balance }}</div>
                                <div class="nav-profile__footer"><span class="delspin"><a href="{{ path('user_view',{nickname:app.user.nickname, "tab":"stats"}) }}">Общие продажи</a><span class="kbd">${{ app.user.balance }}</span></span></div>
                            </div>
                            <div class="nav-profile__item">
                                <div class="nav-profile__title"><a href="{{ path('user_view',{nickname:app.user.nickname, "tab":"stats"}) }}">Доступно моделей</a><span class="simbol">?</span></div>
                                <div class="nav-profile__count">{{ app.user.models }}</div>
                                <div class="nav-profile__footer"><span class="delspin"><a href="{{ path('user_view',{nickname:app.user.nickname, "tab":"buy"}) }}">Покупки</a></span><span class="delspin"><a href="{{ path('user_view',{nickname:app.user.nickname, "tab":"favorites"}) }}">Избранное</a><span class="kbd">{{ app.user.modelsFavorites }}</span></span></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% block banners %}{% endblock %}
                {% endif %}
            </div>
        </div>
    </header>
    <!-- HEADER EOF	-->
    <!-- BEGIN CONTENT -->
    <main class="content">
        {% block content_wrapper %}{% endblock %}
        {% spaceless %}
            <div class="wrapper">
                <div class="banner banner_horizontal">{{ bannerBottom() }}</div>
            </div>
        {% endspaceless %}
    </main>
    <!-- CONTENT EOF	-->
    <!-- BEGIN FOOTER-->
    <footer>
        <div class="wrapper">
            <div class="footer-wrapper">
                <div class="footer__item col-1">
                    <h4 class="footer__title">Кратко о SYM</h4>
                    <p class="mt7">SYM- это торговая площадка, где вы можете покупать и <br> продавать 3D модели, текстуры, плагины для различных <br> проектов. Наш магазин начал свою работу в Феврале 2004 <br> года, и сегодня мы являемся одним из крупнейших поставщиков 3D контента в мире. У нас только качественные 3D <br> модели!</p>
                </div>
                <div class="footer__item col-2">
                    <h4 class="footer__title">О проекте</h4>
                    <ul class="footer-nav">
                        <li class="footer-nav__item"><a href="{{ path('page_4') }}" class="footer-nav__link">Правила</a></li>
                        <li class="footer-nav__item"><a href="{{ path('community') }}" class="footer-nav__link">Сообщество</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_5') }}" class="footer-nav__link">Реклама</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Тех. Поддержка</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Отправить сообщение</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_6') }}" class="footer-nav__link">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__item col-3">
                    <h4 class="footer__title">Правовые аспекты</h4>
                    <ul class="footer-nav">
                        <li class="footer-nav__item"><a href="{{ path('page_7') }}" class="footer-nav__link">Лицензионное соглашение</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_8') }}" class="footer-nav__link">Условия использования</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_9') }}" class="footer-nav__link">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="footer__item col-4">
                    <h4 class="footer__title">Свежие обновления</h4>
                    <div class="subscribe__info">
                        <p>Подпишитесь, чтобы получать свежие уроки, скидоч-<br>ные купоны, бесплатные товары и наши новости.</p>
                        <div class="subscribe__message js-subscribe-message"></div>
                    </div>
                    <div class="subscribe">
                        <input type="text" placeholder="Ваш E-mail" class="subscribe__input form-control js-subscribe-email" />
                        <input type="button" value="Подписаться" class="subscribe__button js-subscribe-submit" onclick="subscribe();" />
                    </div>
                    <p>Следуйте за нами</p>
                    <ul class="social">
                        <li class="social__item"><a href="#" class="social__link social__link_tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_pin"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_lin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_ut"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_vk"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="copy fl">&copy; {{ 'now'|date('Y') }}. Все права защищены.</p>
                <p class="fr">Премиум 3D модели, CG текстуры  | SYM</p>
            </div>
        </div>
    </footer>
    <!-- FOOTER EOF	-->
</div>
<div class="block-pof"></div>
<div class="popup">
    <div id="login" class="window-open">
        <div class="window-open-cont">
            <div class="box-form registration">
                <h3>Вход</h3>
                <form action="{{ path('fos_user_security_check') }}" method="POST" class="js-login">
                    <div class="box-field login-error">
                        <div class="login-error__text js-login-error"></div>
                        <label class="box-field__label">E-mail</label>
                        <div class="box-field__input">
                            <input type="email" name="_username" class="form-control">
                        </div>
                    </div>
                    <div class="box-field">
                        <label class="box-field__label">Пароль</label>
                        <div class="box-field__input">
                            <input type="password" name="_password" class="form-control">
                        </div>
                    </div>
                    {#<div class="box-field captcha">
                        <label class="box-field__label">Вы человек?</label>
                        <div class="box-field__input"><img src="{{ asset('bundles/app/img/captcha.png') }}" alt=""></div>
                    </div>#}
                    <input type="submit" value="Войти" class="button button_warning button_block box-form__button" onclick="ajaxLogin();return false;" />
                    <p><a href="{{ path('registration') }}" class="link">Регистрация</a><span class="devider">|</span><a href="{{ path('fos_user_resetting_request') }}" class="link">Забыли пароль?</a></p>
                </form>
            </div>
            <div class="enter-social">
                <p>Войти через аккаунт в социальных сетях</p>
                <ul class="social-wrap unstyled">
                    <li class="social-wrap__item"> <a href="{{ hwi_oauth_login_url('facebook') }}" class="social-wrap__link fb"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-wrap__item"> <a href="{{ hwi_oauth_login_url('vkontakte') }}" class="social-wrap__link vk"><i class="fa fa-vk"></i></a></li>
                    <li class="social-wrap__item"> <a href="#" class="social-wrap__link gp"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="withdrawalsAdd" class="window-open">
        <div class="window-open-cont">
            <div class="box-form withdrawals__form">
                <h3>Заявка на вывод средств</h3>
                <form action="{{ path('cabinet_withdrawal_write') }}" method="POST" class="js-withdrawal-add-form">
                    <div class="box-field login-error">
                        <div class="login-error__text js-withdrawal-add-error"></div>
                        <label class="box-field__label">Сумма для вывода</label>
                        <div class="box-field__input">
                            <input type="number" name="price" class="form-control">
                        </div>
                    </div>
                    <input type="submit" value="Отправить заявку" class="button button_warning button_block box-form__button" onclick="ajaxWithdrawalAdd();return false;" />
                </form>
            </div>
        </div>
    </div>
    <div id="crop" class="window-open">
        <div class="window-open-cont">
            <div class="box-form">
                <h3>Обрезка изображения</h3>
                <div class="croppie-wrapper">
                    <div class="js-cropper"></div>
                    <br />
                    <button type="button" class="button button_warning js-crop-btn">Обрезать</button>
                </div>

            </div>
        </div>
    </div>
    {% block products_popup %}{% endblock %}
</div>
<!-- BODY EOF  -->

{% javascripts
    'bundles/app/js/libs.min.js'
    'bundles/app/js/custom.js'
    'bundles/app/admin/jquery.ui.widget.js'
    'bundles/app/custom-js/load-image.all.min.js'
    'bundles/app/custom-js/canvas-to-blob.min.js'
    'bundles/app/admin/jquery_upload/js/jquery.iframe-transport.js'
    'bundles/app/admin/jquery_upload/js/jquery.fileupload.js'
    'bundles/app/custom-js/croppie/croppie.patched.js'
    'bundles/app/custom-js/select2/js/select2.full.js'
    'bundles/app/custom-js/jquery-ui/jquery-ui.js'
    'bundles/app/custom-js/jquery.form.min.js'
    'bundles/app/custom-js/anythingslider/js/jquery.anythingslider.min.js'
    'bundles/app/pages/*.js' output='js/20170713-2.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script src="https://yastatic.net/share2/share.js" async="async"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

{% block javascripts %}{% endblock %}

</body>
</html>