{% extends '_inside.html.twig' %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}buying_models{% endtrans %}</h1>
    </div>
    <div class="wrap">
        <div class="wrap-right">
            {{ rightText|raw }}
            {#<h4 class="wrap__title">{% trans %}helpful_information{% endtrans %}</h4>#}
            {#<ol class="list">#}
                {#<li>{% trans %}cabinet_buy_healful_info_l1{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l2{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l3{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l4{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l5{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l6{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l7{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l8{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l9{% endtrans %}</li>#}
                {#<li>{% trans %}cabinet_buy_healful_info_l10{% endtrans %}</li>#}
            {#</ol>#}
        </div>
        <div class="wrap-left">
            <p>{% trans %}cabinet_buy_left_info_l1{% endtrans %}</p>
            <p>{% trans %}cabinet_buy_left_info_l2{% endtrans %}</p>
            
            <div class="box-form payment">
                {% if settings.paymentAccept %}
                <form action="#">
                    <dl class="box-label">
                        <dt class="box-label__title">{% trans %}available_3d_models{% endtrans %}</dt>
                        <dd class="box-label__cont">{{ app.user.models }}</dd>
                        <dt class="box-label__title mb25">{% trans %}select_number_purchased{% endtrans %}:</dt>
                        <dd class="box-label__cont mb25">
                            <input type="hidden" name="accountsum" value="{{ app.user.balance }}"/>
                            <input type="text" value="2" class="box-label__input js-buy-count" onkeyup="setBuyCount({{ settings.modelPrice }});" onchange="setBuyCount({{ settings.modelPrice }});" />
                        </dd>
                        <dt class="box-label__title mb25">Сумма от продаж:</dt>
                        <dd class="box-label__cont mb25"><span class="count">{{ app.user.balance }}</span> {% trans %}currency_rub{% endtrans %}</dd>
                        <dt class="box-label__title mb25">{% trans %}order_price{% endtrans %}:</dt>
                        <dd class="box-label__cont mb25"><span class="count js-buy-count">{{ 2 * settings.modelPrice }}</span> {% trans %}currency_rub{% endtrans %}</dd>
                        <dt class="box-label__title mb25">К оплате:</dt>
                        <dd class="box-label__cont mb25"><span class="count js-buy-count-pay">{% if app.user.balance>2 * settings.modelPrice %}0{% else %}{{ (2 * settings.modelPrice) - app.user.balance }}{% endif %}</span> {% trans %}currency_rub{% endtrans %}</dd>
                    </dl>
                    <div class="box-field-group">
                        <div class="box-field checkbox mb20">
                            <div class="box-field__input">
                                <input type="checkbox" id="no-use-account-sum" name="no-use-account-sum" onchange="setBuyCount({{ settings.modelPrice }});" class="styler" />
                                <label for="no-use-account-sum" class="box-field__label">
                                    Не использовать сумму от продаж
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-field-group">
                        <div class="box-field checkbox mb20">
                            <div class="box-field__input">
                                <input type="checkbox" id="buy-rules" class="styler" />
                                <label for="buy-rules" class="box-field__label">
                                    {% trans %}i_agree_with{% endtrans %}
                                    <a href="{{ path('page_8') }}" target="_blank" class="link">{% trans %}payment_agreement{% endtrans %}</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button button_warning" onclick="buyModels('{% if product %}{{ product.id }}{% endif %}');return false;">{% trans %}buy_cabinet{% endtrans %}</button>
                    <span class="help-text inline settings__result js-buy-models-result"></span>
                    {#<h4 class="box-form__title">Выберите способ оплаты</h4
                    <div class="payment__button-group">
                        <button type="button" class="button button_warning" onclick="buyModels();return false;">Купить</button>
                        <span class="help-text inline settings__result js-buy-models-result"></span>
                        <button type="button" class="button button_warning button_block">Купить через
                            PayPal
                        </button>
                        <button type="button" class="button button_warning button_block">Купить через
                            WebMoney
                        </button>
                    </div>
                    <div class="payment__method"><img src="img/payment.jpg" alt=""></div>>#}
                </form>
                {% else %}
                    <p>Покупка моделей временно недоступна.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}