{% extends 'cabinet/_cabinet_base.html.twig' %}

{% block cabinetTitle %}Обращения в тех поддержку{% endblock %}

{% block cabinetContent %}
    <div class="box-form settings">
        <h4 class="tickets__header">Мои обращения</h4>
        <a href="{{ path('cabinet_tickets_add') }}" class="button button_warning tickets__add">Создать обращение</a>
        <div class="clearfix"></div>
        {% if entities|length > 0 %}
            <table class="table">
                <tr>
                    <th class="td-date-time">Дата</th>
                    <th>Обращение</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th class="td-summa">Пользователь</th>
                    {% endif %}
                    <th class="td-summa">Статус</th>
                </tr>
                {% for e in entities %}
                    <tr>
                        <td>{{ e.date|date("H:i d.m.Y") }}</td>
                        <td><a href="{{ path('cabinet_tickets_item', {id:e.id}) }}" class="tickets__link">{{ e.name }}</a></td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td><a href="{{ path('user_view',{nickname:e.user.nickname}) }}" class="tickets__link">{{ e.user.nickname }}</a></td>
                        {% endif %}
                        <td>{% if e.status == 'new' %}Новое{% elseif e.status == 'work' %}В работе{% elseif e.status == 'dublicate' %}Повтор{% elseif e.status == 'close' %}Закрыто{% else %}Неизвестно{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Вы еще не обращались в тех поддержку.</p>
        {% endif %}
    </div>
{% endblock %}