{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .wp-catalog-categories ul {
            padding-left:20px;
        }
        .wp-catalog-categories ul.sidebar-menu {
            padding-left:0px;
        }
        .wp-catalog-categories li {
            list-style: none;
        }
        .wp-catalog-categories .sidebar-menu > li > a{
            padding:5px 0 5px 0px;
            display: block;
            position: relative;
        }
        .wp-catalog-categories .sidebar-menu > li > a > i{
            width: 20px;
            position: absolute;
            top:8px;left:0;
        }
        .wp-catalog-categories .treeview-menu{
            margin:0 0 0 15px;
        }
        .wp-catalog-categories .treeview-menu a{
            color: #3c8dbc !important;
            padding:5px 0;
            display: block;
        }
        .wp-catalog-categories .treeview a.active{
            color:#000 !important;
        }
        .wp-catalog-categories .treeview, .wp-catalog-categories .treeview-menu{
            background: transparent !important;
        }
        .wp-catalog-categories .treeview:hover a{
            background: transparent !important;
            color: #3c8dbc !important;
        }
    </style>
{% endblock %}

{% block sonata_admin_content %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% if _preview is not empty %}
        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
    {% endif %}

    {% if _content is not empty %}
        <div class="sonata-ba-content">{{ _content|raw }}</div>
    {% endif %}

    {% if _show is not empty %}
        <div class="sonata-ba-show">{{ _show|raw }}</div>
    {% endif %}

    {% if _form is not empty %}
        <div class="sonata-ba-form">{{ _form|raw }}</div>
    {% endif %}

    <div class="row">
        {% if _list_filters|trim %}
            <div class="sonata-ba-filter col-md-12">
                {{ _list_filters|raw }}
            </div>
        {% endif %}
    </div>

    {% if _list_table is not empty or _list_filters is not empty %}
        <div class="row">
            <div class="sonata-ba-list col-md-12 wp-catalog-categories">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">{% trans %}catalog_sections{% endtrans %}</h4>
                    </div>

                    <div class="box-body">
                        <ul class="sidebar-menu">
                            {% for e in categories %}
                            <li class="treeview">
                                <a href="{{ admin.generateUrl('edit', {id:e.id}) }}">
                                    <span>{{ e.name|raw }}</span>
                                </a>
                                {% if e.children|length > 0 %}
                                    <ul class="treeview-menu" style="display: block;">
                                        {% for e2 in e.children %}
                                            <li class="treeview">
                                                <a href="{{ admin.generateUrl('edit', {id:e2.id}) }}">
                                                    <span>{{ e2.name|raw }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock sonata_admin_content %}