<h1>На сайте добавлена новая модель</h1>
<p>На сайт добавлена новая модель <a href="{{ url('catalog_product', {alias:product.alias}) }}">{{ product.name }}</a> от пользователя <a href="{{ url('user_view', {nickname:product.user.nickname}) }}">{{ product.user.nickname }}</a></p>
<p><a href="{{ url('catalog_moderation') }}">Перейти к модерации моделей</a></p>
<p>
    ---------
    <br />
    С уважением, команда Sellyourmodel.com
</p>