{% extends '_inside.html.twig' %}

{% block title %}{% trans %}messages{% endtrans %}{% endblock %}

{% block content %}
    <div class="main-wrap">
        <div class="main-wrap__header">
            <h1>{% trans %}messages{% endtrans %}</h1>
        </div>
        <div class="wrap wrap_small">
            <div class="wrap-right">

            </div>
            <div class="wrap-left">
                <div class="text-page">
                    <div class="box-comment">
                        {% for e in messages %}
                            {% if app.user == e.from %}
                                {% set author=e.to %}
                            {% else %}
                                {% set author=e.from %}
                            {% endif %}
                            <div class="comment">
                                <div class="box-top">
                                    <div class="box-top__avatar">
                                        <a href="{{ path('messages_dialog',{id:author.id}) }}">
                                            <img src="{% if author.image %}{% path author.image, 'small' %}{% else %}{{ asset('bundles/app/img/user.png') }}{% endif %}" alt="">
                                        </a>
                                    </div>
                                    <div class="box-top__cont">
                                        <span class="author">
                                            <a href="{{ path('messages_dialog',{id:author.id}) }}">{{ author.nickname }}</a>
                                            <span class="date">{{ e.date|date("H:i d.m.Y") }}</span>
                                        </span>
                                        <p>{{ e.text|nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}