<!DOCTYPE html>
<html lang="" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}SYM покупайте и продавайте 3D модели{% endblock %} | SellYourModel</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

    {#<link rel="stylesheet" href="/css/20190310.css"/>#}

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ cookieAgree() }}
<!-- BEGIN BODY -->
<div class="main-wrapper">
    <!-- BEGIN HEADER-->
    <header>
        <div class="wrapper">
            <div class="header-top">
                <a href="{{ path('homepage') }}" class="logo">
                    <img src="/assets/bundles/app/img/svg/logo.svg" class="logo__svg">
                </a>
                {#<button class="box-nav-list-burger"><span>Открыть меню</span></button>#}
                <nav class="box-nav-list">
                    <ul class="nav-list unstyled">
                        {% if is_granted('ROLE_TRACKER') %}
                            <li class="nav-list__item"><a href="{{ path('cabinet_tracker') }}" class="nav-list__link"><span>Трекер</span></a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-list__item"><a href="{{ path('catalog_moderation') }}" class="nav-list__link"><span>{% trans %}moderation_header{% endtrans %}</span></a></li>
                            {#<li class="nav-list__item"><a href="{{ path('sonata_admin_dashboard') }}" class="nav-list__link"><span>{% trans %}administration_header{% endtrans %}</span></a></li>#}
                        {% endif %}
                        <li class="nav-list__item"><a href="{{ path('page_2') }}" class="nav-list__link"><span>{% trans %}about{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="{{ path('page_3') }}" class="nav-list__link"><span>{% trans %}buy_menu{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="{{ path('community') }}" class="nav-list__link"><span>{% trans %}community{% endtrans %}</span></a></li>
                        <li class="nav-list__item"><a href="{{ path('faq') }}" class="nav-list__link"><span>{% trans %}support{% endtrans %}</span></a></li>
                        <li class="nav-list__item">
                            {#<a href="#" data-target="#box-lang" class="nav-list__link arrow-down js-link-open">#}
                                {#<span>{% trans %}language{% endtrans %}:</span>#}
                                {#<span class="nav-list__icon">#}
                                    {#<span class="ic ic_flag-{{ app.request.locale }}"></span>#}
                                {#</span>#}
                            {#</a>#}
                            {{ sites() }}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom">
                <div class="header-table"><a href="#" data-target="#nav" class="header-table__item js-link-open models"><span class="models__text arrow-down"><span>3D models</span></span></a>
                    <div class="header-table__item search">
                        <form method="GET" action="{{ path('search') }}">
                            <input type="text" name="search" value="{{ app.request.get('search') }}" onkeyup="autoSearch(this);" onchange="autoSearch(this);" autocomplete="off" placeholder="{% trans %}search{% endtrans %}" class="js-search-val search__input form-control">
                            <input type="submit" value="" class="search__button js-search-val" />
                            <span class="search__filters-link js-filters-link">{% trans %}filters{% endtrans %} <span class="search__filters-count js-filter-styles-count">(0)</span></span>
                            <div class="search__filters-block js-filters-block">
                                {{ filters() }}
                            </div>
                            <div class="search__results js-quick-search-results"></div>
                        </form>
                    </div>
                    {% if app.user %}
                        <a href="{{ path('cabinet_buy') }}" class="header-table__item add-models buy-model" style="width:165px;"><span>{% trans %}buy_add{% endtrans %}</span></a>
                        <a href="{{ path('catalog_add') }}" class="header-table__item add-models" style="width:165px;"><span>{% trans %}model_add{% endtrans %}</span></a>
                        <div data-target="#nav-profile" class="header-table__item mini-profile ">
                            <a href="{{ path('user_view',{nickname:app.user.nickname}) }}" class="mini-profile__img" style="width:45px;">
                                <img src="{% if app.user.image %}{% path app.user.image, 'small' %}{% else %}/assets/bundles/app/img/user.png{% endif %}" alt="">
                            </a>
                            <span class="mini-profile__link">
                                <span class="mini-profile__link-login-wrapper">
                                    <a href="{{ path('user_view',{nickname:app.user.nickname}) }}" class="mini-profile__link-login-name">{{ app.user.nickname }}</a>
                                    <a href="#" data-target="#nav-profile" class="mini-profile__link-login-arrow arrow-down arrow-down--profile js-link-open active"></a>
                                </span>
                            </span>
                        </div>
                    {% else %}
                        <a href="#login" class="header-table__item link-login fancybox"><span>{% trans %}auth{% endtrans %}</span></a>
                        <a href="{{ path('fos_user_security_login') }}" class="header-table__item link-registr"><span>{% trans %}registration{% endtrans %}</span></a>
                    {% endif %}
                </div>
                <div id="nav" class="navigation js-open-block">
                    {{ menu() }}
                </div>
                {% if app.user %}
                    <div id="nav-profile" class="nav-profile clearfix js-open-block js-open-block-noclose {% block navblock_class %}{% endblock %}">
                        <ul class="nav-profile-list unstyled">
                            <li class="nav-profile-list__item"><a href="{{ path('cabinet') }}" class="nav-profile-list__link">{% trans %}public_profile{% endtrans %}</a></li>
                            <li class="nav-profile-list__item"><a href="{{ path('messages') }}" class="nav-profile-list__link">{% trans %}messages{% endtrans %}</a>{{ unreadMessage() }}</li>
                            <li class="nav-profile-list__item"><a href="{{ path('notify') }}" class="nav-profile-list__link">{% trans %}notifications{% endtrans %}</a>{{ unreadNotify() }}</li>
                            <li class="nav-profile-list__item"><a href="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}{{ path('homepage',{_switch_user: "_exit"}) }}{% else %}{{ path('fos_user_security_logout') }}{% endif %}" class="nav-profile-list__link">{% trans %}exit{% endtrans %}</a></li>
                        </ul>
                        <div class="nav-profile-wrap nav-profile-wrap--has-tooltip">
                            <div class="nav-profile__item">
                                <div class="nav-profile__title">
                                    <a href="{{ path('catalog_my_products') }}">{% trans %}loaded_models{% endtrans %}</a>
                                    <span class="nav-profile__add-info"> {% trans %}loaded_models_moderation{% endtrans %}</span>
                                    <span class="simbol tooltip">?<span class="tooltip__text">{% trans %}tooltip_loaded_models{% endtrans %}</span></span>
                                </div>
                                <div class="nav-profile__count">{{ app.user.modelsLoaded }}{% if app.user.modelsModeration and app.user.modelsModeration > 0 %}<span class="nav-profile__count--add-info">({{ app.user.modelsModeration }})</span>{% endif %}</div>
                                <div class="nav-profile__footer">      <span class="delspin"><span>{% trans %}views{% endtrans %}:</span><span class="kbd">{{ app.user.modelsLoadedView }}</span></span><span class="delspin"><a href="{{ path('catalog_my_products_comments') }}">{% trans %}user_comments{% endtrans %}</a>:<span class="kbd">{{ app.user.modelsLoadedComments }}</span></span></div>
                            </div>
                            <div class="nav-profile__item">
                                <div class="nav-profile__title"><a href="{{ path('user_view_stats',{nickname:app.user.nickname}) }}">{% trans %}current_sales{% endtrans %}</a><span class="simbol tooltip">?<span class="tooltip__text">{% trans %}tooltip_sales{% endtrans %}</span></span></div>
                                <div class="nav-profile__count">{{ app.user.balance }} руб.</div>
                                <div class="nav-profile__footer"><span class="delspin"><a href="{{ path('myprofile_withdrawals') }}">{% trans %}drawals_header_link{% endtrans %}</a></span></div>
                            </div>
                            <div class="nav-profile__item">
                                <div class="nav-profile__title"><a href="{{ path('cabinet_buy') }}">{% trans %}available_models{% endtrans %}</a><span class="simbol tooltip">?<span class="tooltip__text">{% trans %}tooltip_downloads{% endtrans %}</span></span></div>
                                <div class="nav-profile__count">{{ app.user.models }}</div>
                                <div class="nav-profile__footer"><span class="delspin"><a href="{{ path('catalog_my_buys',{"tab":"buy"}) }}">{% trans %}purchases{% endtrans %}</a></span><span class="delspin"><a href="{{ path('catalog_my_buys',{"tab":"favorites"}) }}">{% trans %}user_in_favourite{% endtrans %}</a>:<span class="kbd">{{ app.user.modelsFavorites }}</span></span></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% block banners %}{% endblock %}
                {% endif %}
            </div>
        </div>
    </header>
    <!-- HEADER EOF	-->
    <!-- BEGIN CONTENT -->
    <main class="content {% block content_class %}{% endblock %}">
        {% block content_wrapper %}{% endblock %}
        {% spaceless %}
            <div class="wrapper">
                <div class="banner banner_horizontal">{{ bannerBottom() }}</div>
            </div>
        {% endspaceless %}
    </main>
    <!-- CONTENT EOF	-->
    <!-- BEGIN FOOTER-->
    <footer>
        <div class="wrapper">
            <div class="footer-wrapper">
                <div class="footer__item col-1">
                    <h4 class="footer__title">{% trans %}about_sym_header{% endtrans %}</h4>
                    <p class="mt7">{% trans %}about_sym_description{% endtrans %}</p>
                </div>
                <div class="footer__item col-2">
                    <h4 class="footer__title">{% trans %}about_sym_description_header{% endtrans %}</h4>
                    <ul class="footer-nav">
                        <li class="footer-nav__item"><a href="{{ path('page_4') }}" class="footer-nav__link">{% trans %}about_sym_rules{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('community') }}" class="footer-nav__link">{% trans %}about_sym_community{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_5') }}" class="footer-nav__link">{% trans %}about_sym_adversting{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('faq') }}" class="footer-nav__link">{% trans %}about_sym_support{% endtrans %}</a></li>
                        {#<li class="footer-nav__item"><a href="#" class="footer-nav__link">{% trans %}about_sym_send_message{% endtrans %}</a></li>#}
                        <li class="footer-nav__item"><a href="{{ path('page_6') }}" class="footer-nav__link">{% trans %}about_sym_contacts{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="footer__item col-3">
                    <h4 class="footer__title">{% trans %}about_sym_legal_header{% endtrans %}</h4>
                    <ul class="footer-nav">
                        <li class="footer-nav__item"><a href="{{ path('page_9') }}" class="footer-nav__link">{% trans %}about_sym_privacy{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_7') }}" class="footer-nav__link">{% trans %}about_sym_agent_dog{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_8') }}" class="footer-nav__link">{% trans %}about_sym_terms{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_10') }}" class="footer-nav__link">{% trans %}about_sym_conf{% endtrans %}</a></li>
                        <li class="footer-nav__item"><a href="{{ path('page_11') }}" class="footer-nav__link">{% trans %}about_sym_personal{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="footer__item col-4">
                    <h4 class="footer__title">{% trans %}about_sym_updates_header{% endtrans %}</h4>
                    <div class="subscribe__info">
                        <p>{% trans %}footer_subscribe_test{% endtrans %}</p>
                        <div class="subscribe__message js-subscribe-message"></div>
                    </div>
                    <div class="subscribe">
                        <input type="text" placeholder="{% trans %}footer_subscribe_email{% endtrans %}" class="subscribe__input form-control js-subscribe-email" />
                        <input type="button" value="{% trans %}footer_subscribe_action{% endtrans %}" class="subscribe__button js-subscribe-submit" onclick="subscribe();" />
                    </div>
                    <p>{% trans %}about_sym_follow_us{% endtrans %}</p>
                    <ul class="social">
                        <li class="social__item"><a href="#" class="social__link social__link_tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_pin"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_lin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_ut"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_vk"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="copy fl">&copy; {{ 'now'|date('Y') }}. {% trans %}footer_all_right_reserved{% endtrans %}</p>
                <p class="fr">{% trans %}footer_title{% endtrans %}</p>
            </div>
        </div>
    </footer>
    <!-- FOOTER EOF	-->
</div>
<div class="block-pof"></div>
<div class="popup">
    <div id="login" class="window-open">
        <div class="window-open-cont">
            <div class="box-form registration">
                <h3>{% trans %}modal_auth{% endtrans %}</h3>
                <form action="{{ path('fos_user_security_check') }}" method="POST" class="js-login">
                    <div class="box-field login-error login-fields">
                        <div class="login-error__text js-login-error"></div>
                        <label class="box-field__label">E-mail</label>
                        <div class="box-field__input">
                            <input type="email" name="_username" class="form-control">
                        </div>
                    </div>
                    <div class="box-field login-fields">
                        <label class="box-field__label">{% trans %}modal_password{% endtrans %}</label>
                        <div class="box-field__input">
                            <input type="password" name="_password" class="form-control">
                        </div>
                    </div>
                    {#<div class="box-field captcha">
                        <label class="box-field__label">Вы человек?</label>
                        <div class="box-field__input"><img src="/assets/bundles/app/img/captcha.png" alt=""></div>
                    </div>#}
                    <input type="submit" value="{% trans %}modal_auth_action{% endtrans %}" class="button button_warning button_block box-form__button" onclick="ajaxLogin(this);return false;" />
                    <p><a href="{{ path('fos_user_security_login') }}" class="link">{% trans %}registration{% endtrans %}</a><span class="devider">|</span><a href="{{ path('fos_user_resetting_request') }}" class="link">{% trans %}registration_forgot_password{% endtrans %}</a></p>
                </form>
            </div>
            <div class="enter-social">
                <p>{% trans %}registration_auth_in_socials{% endtrans %}</p>
                <ul class="social-wrap unstyled">
                    <li class="social-wrap__item"> <a href="{{ hwi_oauth_login_url('facebook') }}" class="social-wrap__link fb"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-wrap__item"> <a href="{{ hwi_oauth_login_url('vkontakte') }}" class="social-wrap__link vk"><i class="fa fa-vk"></i></a></li>
                    <li class="social-wrap__item"> <a href="{{ hwi_oauth_login_url('google') }}" class="social-wrap__link gp"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="crop" class="window-open">
        <div class="window-open-cont">
            <div class="box-form">
                <h3>{% trans %}image_crop_header{% endtrans %}</h3>
                <div class="croppie-wrapper">
                    <div class="js-cropper"></div>
                    <br />
                    <button type="button" class="button button_warning js-crop-btn">{% trans %}image_crop_action{% endtrans %}</button>
                </div>

            </div>
        </div>
    </div>
    {% block products_popup %}{% endblock %}
</div>
<!-- BODY EOF  -->

{#<script type="text/javascript" src="/js/20190310.js"></script>#}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<script src='/bundles/fosjsrouting/js/router.js'></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<script src="https://yastatic.net/share2/share.js" async="async"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46699581 = new Ya.Metrika({ id:46699581, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46699581" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109886504-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109886504-1');
</script>

{% block javascripts_custom %}{% endblock %}

</body>
</html>
