{% extends '_inside.html.twig' %}

{% block content %}

    <div class="user-profile">
        <div class="user-profile__top">
            <div class="user-profile__avatar"><img src="{% if entity.image %}{% path entity.image, 'big' %}{% else %}{{ asset('bundles/app/img/user-avatar.png') }}{% endif %}" alt=""></div>
            <div class="user-profile__info">
                <h3 class="user-profile__nick">{{ entity.nickname }}</h3>
                <div class="user-profile__text user-profile__text--first">{{ entity.specialization }}</div>
                <div class="user-profile__text">{% if entity.country %}{{ entity.country.name }}{% endif %}{% if entity.country and entity.city %}, {% endif %}{{ entity.city }}</div>
                {#<div class="user-profile__text"><a href="#" class="user-profile__link">www.sell3d.ru</a></div>#}
                <div class="user-profile__text">{% trans %}user_dt_create{% endtrans %}: {{ entity.createdAt|date("d-m-Y") }}</div>
                {% if app.user and app.user != entity %}
                    <div class="user-profile__btn">
                        <a href="{{ path('messages_dialog',{id:entity.id}) }}" class="button button_warning button_block">{% trans %}user_send_message{% endtrans %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="user-profile__about">
                <div class="user-profile__rating">Репутация 500</div>
                <div class="user-profile__rating-icons">
                    <div class="user-profile__rating-icon"></div>
                    <div class="user-profile__rating-icon"></div>
                    <div class="user-profile__rating-icon"></div>
                </div>
                <div class="user-profile__about-text">{{ entity.text|nl2br }}</div>
            </div>
        </div>
        <div class="user-profile__tabs">
            <ul class="nav-tabs-list nav-tabs-list--profile">
                <li class="nav-tabs-list__item active"><a href="" class="nav-tabs-list__link">Модели автора</a></li>
                <li class="nav-tabs-list__item"><a href="" class="nav-tabs-list__link">Все модели автора</a></li>
            </ul>
        </div>
    </div>

    {% if products|length > 0 %}
        <ul class="product-list">
            {% for e in products %}
                {% include 'catalog/_product_in_category.html.twig' with {'e':e} %}
            {% endfor %}
        </ul>
    {% endif %}



    <div class="wrapper-column clearfix">
        <aside class="fl column bg profile-aside">
            <div class="profile">
                <div class="profile-cont">
                    <div class="profile__avatar">
                        <img src="{% if entity.image %}{% path entity.image, 'big' %}{% else %}{{ asset('bundles/app/img/user-avatar.png') }}{% endif %}" alt="">
                    </div>
                    <h3>{{ entity.nickname }} <i class="ic icon-author-rating icon-author-rating__{{ entity.lvl }}"></i>
                    </h3>
                    <p class="profile__text">
                        {{ entity.name }}
                        {% if entity.country or entity.city %}<br/>{% endif %}
                        {% if entity.country %}{{ entity.country.name }}{% endif %}{% if entity.country and entity.city %}, {% endif %}{{ entity.city }}
                    </p>
                    {% if app.user and app.user != entity %}
                        <a href="{{ path('messages_dialog',{id:entity.id}) }}" class="button button_warning button_block">{% trans %}user_send_message{% endtrans %}</a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') and app.user and app.user != entity %}
                        <br/>
                        <a class="button button_warning button_block" href="{{ path('homepage',{_switch_user: entity.email}) }}">{% trans %}user_auth{% endtrans %}</a>
                    {% endif %}
                </div>
                {% if entity.specialization %}
                    <div class="profile-cont">
                        <h6 class="profile-cont__title">{% trans %}user_specialization{% endtrans %}:</h6>
                        <p class="profile-cont__text">{{ entity.specialization }}</p>
                    </div>
                {% endif %}
                {% if entity.text %}
                    <div class="profile-cont">
                        <h6 class="profile-cont__title">{% trans %}user_about_myself{% endtrans %}:</h6>
                        <p class="profile-cont__text">
                            {{ entity.text|nl2br }}
                        </p>
                    </div>
                {% endif %}
                {#<div class="profile-cont">
                    <h6 class="profile-cont__title">Веб-ссылки:</h6>
                    <ul class="web-link-list">
                        <li class="web-link-list__item"><a href="#" class="web-link-list__link">Clive Wilkinson
                                Architects</a></li>
                    </ul>
                    <ul class="social">
                        <li class="social__item"><a href="#" class="social__link social__link_fb"><i
                                        class="fa fa-facebook"></i></a></li>
                        <li class="social__item"><a href="#" class="social__link social__link_tw"><i
                                        class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>#}
                <div class="profile-cont">
                    <h6 class="profile-cont__title">{% trans %}user_dt_create{% endtrans %}:</h6>
                    <p class="profile-cont__text">{{ entity.createdAt|date("d-m-Y") }}</p>
                </div>
            </div>
        </aside>
        <div class="content-wrap tab-wrap column bg" style="padding-bottom: 20px;">
            <div class="main-wrap">
                <div class="main-wrap__header">
                    <ul class="nav-tabs-list tabs">
                        <li class="nav-tabs-list__item js-hide-bg {% if app.request.get('tab') != 'stats' and app.request.get('tab') != 'buy' and app.request.get('tab') != 'favorites' %}active{% endif %}">
                            <a href="#" data-tab="js-tab-1" class="nav-tabs-list__link link">{% trans %}user_models{% endtrans %} ({{ products|length }})</a>
                        </li>
                        <li class="nav-tabs-list__item js-hide-bg">
                            <a href="#" data-tab="js-tab-2" class="nav-tabs-list__link link">{% trans %}user_gallery{% endtrans %} (0)</a>
                        </li>
                        {% if app.user and app.user == entity %}
                            <li class="nav-tabs-list__item js-show-bg {% if app.request.get('tab') == 'stats' %}active{% else %}{% endif %}">
                                <a href="#" data-tab="js-tab-3" class="nav-tabs-list__link link">{% trans %}user_statistics{% endtrans %}</a>
                            </li>
                            <li class="nav-tabs-list__item js-show-bg">
                                <a href="#" data-tab="js-tab-6" class="nav-tabs-list__link link">{% trans %}user_withdrawals{% endtrans %}</a>
                            </li>
                            <li class="nav-tabs-list__item js-hide-bg {% if app.request.get('tab') == 'favorites' %}active{% else %}{% endif %}">
                                <a href="#" data-tab="js-tab-4" class="nav-tabs-list__link link">{% trans %}user_favourite{% endtrans %} ({{ favorites|length }})</a>
                            </li>
                            <li class="nav-tabs-list__item js-show-bg {% if app.request.get('tab') == 'buy' %}active{% else %}{% endif %}">
                                <a href="#" data-tab="js-tab-5" class="nav-tabs-list__link link">{% trans %}user_purchases{% endtrans %} ({{ buy|length }})</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="box-tab-cont">
                <div class="js-tab-1 tab-cont {% if app.request.get('tab') != 'stats' and app.request.get('tab') != 'buy' and app.request.get('tab') != 'favorites' %}{% else %}hide{% endif %}">
                    {% if products|length > 0 %}
                        <ul class="product-list col-4 sm">
                            {% for e in products %}
                                {% include 'catalog/_product_in_category.html.twig' with {'e':e} %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{% trans %}user_not_loaded_models{% endtrans %}</p>
                    {% endif %}
                </div>
                <div class="js-tab-2 tab-cont hide">
                    <p>{% trans %}user_not_loaded_objects{% endtrans %}</p>
                </div>
                {% if app.user and app.user == entity %}
                    <div class="js-tab-3 tab-cont {% if app.request.get('tab') == 'stats' %}{% else %}hide{% endif %}">
                        <div class="block-title">
                            <h4>{% trans %}user_models_loaded{% endtrans %} {{ products|length }}</h4>
                        </div>
                        <div class="tab-cont__body">
                            <h4>{% trans %}user_last_operations{% endtrans %}</h4>
                            <table class="table">
                                <tr>
                                    <th class="td-date">{% trans %}user_last_operations_date{% endtrans %}</th>
                                    <th>{% trans %}user_last_operations_operation{% endtrans %}</th>
                                    <th class="td-summa">{% trans %}user_last_operations_price{% endtrans %}</th>
                                </tr>
                                {% for e in history %}
                                    <tr>
                                        <td>{{ e.date|date("d.m.Y") }}</td>
                                        <td>{{ e.name }}</td>
                                        <td>{% if e.price != '-1' %}{{ e.price }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {#<p><a href="#" class="link">Смотреть все транзакции</a></p>#}
                            <dl class="box-label small">
                                <dt class="box-label__title">{% trans %}user_sales_balance{% endtrans %} {{ app.user.balance }} руб.</dt>
                                <dd class="box-label__cont">{% trans %}user_total_sales{% endtrans %} {{ app.user.balance }} руб.</dd>
                            </dl>
                        </div>
                        <div class="tab-cont__footer">
                            <h4>{% trans %}user_models_buying{% endtrans %}</h4>
                            <dl class="box-label small mt10">
                                <dt class="box-label__title">{% trans %}user_available{% endtrans %} {{ app.user.models }} {% trans %}user_available_models{% endtrans %}</dt>
                                <dd class="box-label__cont">
                                    <a href="{{ path('cabinet_buy') }}" class="link">{% trans %}user_buy_models{% endtrans %}</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="js-tab-6 tab-cont hide">
                        <div class="tab-cont__body">
                            <h4 class="withdrawals__header">{% trans %}user_withdrawals_requests{% endtrans %}</h4>
                            <a href="#withdrawalsAdd" class="button button_warning withdrawals__add fancybox">{% trans %}user_create_withdrawals_requests{% endtrans %}</a>
                            <div class="clearfix"></div>
                            <div class="withdrawal__success">{% trans %}user_create_withdrawals_request_created{% endtrans %}</div>
                            <table class="table js-withdrawals">
                                {% include 'user/_withdrawals.html.twig' %}
                            </table>
                        </div>
                    </div>
                    <div class="js-tab-4 tab-cont  {% if app.request.get('tab') == 'favorites' %}{% else %}hide{% endif %}">
                        {% if favorites|length > 0 %}
                            <ul class="product-list col-4 sm">
                                {% for e in favorites %}
                                    {% include 'catalog/_product_in_category.html.twig' with {'e':e.product} %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{% trans %}user_not_favourites{% endtrans %}</p>
                        {% endif %}
                    </div>
                    <div class="js-tab-5 tab-cont  {% if app.request.get('tab') == 'buy' %}{% else %}hide{% endif %}">
                        <div class="tab-cont__body">
                            {% if buy|length > 0 %}
                                <ul class="product-list col-4 sm">
                                    {% for e in buy %}
                                        {% include 'catalog/_product_in_category.html.twig' with {'e':e.product} %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{% trans %}user_not_buying{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <br style="clear: both;"/>
    </div>
{% endblock %}
