{% extends '_inside.html.twig' %}

{% block wrapper_class %}catalog{% endblock %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}model_add{% endtrans %}</h1>
    </div>
    <div class="wrap wrap_small">
        <div class="wrap-right">
            {{ rightText|raw }}
        </div>
        <div class="wrap-left">
            <div class="box-form settings">
                <form action="{{ path('catalog_add_write') }}" class="js-add-model-form" method="POST">
                    <div class="box-field-title">{% trans %}main_info{% endtrans %}</div>
                    <div class="box-field box-field--2col">
                        <div class="box-field__col">
                            <label class="box-field__label">{% trans %}model_name{% endtrans %}
                                <span class="require-field-z">*</span></label>
                            <div class="box-field__input">
                                <input type="text" name="name" class="form-control"/>
                            </div>
                        </div>
                        <div class="box-field__col">
                            <label class="box-field__label">{% trans %}model_name_en{% endtrans %}
                                <span class="require-field-z">*</span></label>
                            <div class="box-field__input">
                                <input type="text" name="nameEn" class="form-control"/>
                            </div>
                        </div>

                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}category{% endtrans %}<span class="require-field-z">*</span></label>
                        <div class="product-categories">
                            <div class="product-categories__list">
                                <div class="product-categories__category">
                                    <div class="product-categories__select box-field__input">
                                        <select name="categories[]" data-placeholder="Выберите категорию" class="styler form-control">
                                            <option value=""></option>
                                            {% for e in categories %}
                                                {% for e2 in e.children %}
                                                    <option value="{{ e2.id }}">{{ e.name }} / {{ e2.name }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="product-categories__add-category">
                                <a href="#" class="product-categories__link" onclick="addProductCategory();return false;">
                                    <i class="fa fa-plus product-categories__icon"></i> Добавить категорию
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-field-line">
                        <div class="box-field-line__line"></div>
                    </div>
                    <div class="box-field-title">{% trans %}model_images{% endtrans %}</div>
                    <div class="box-field-group user js-image-wrapper js-main-image-drop">
                        <label class="box-field__label">{% trans %}model_cover{% endtrans %}
                            <span class="require-field-z">*</span></label>
                        <div class="box-field__input">
                            <div class="add-image js-image-add-input">
                                <img src="/bundles/app/img/btn-img-add.png" class="add-image__img">
                                <input type="file" id="fileuploadMainImage" class="add-image__input">
                            </div>

                        </div>
                        <div class="model-files js-main-pic"></div>
                    </div>
                    <div class="box-field-group user js-image-wrapper js-add-image-drop">
                        <label class="box-field__label">{% trans %}model_custom_images{% endtrans %}
                            <span class="require-field-z">*</span></label>

                        <div class="model-files">
                            <div class="model-files__add-images js-add-pic"></div>
                            <div class="add-image add-image--add-images js-add-pic-input">
                                <img src="/bundles/app/img/btn-img-add.png" class="add-image__img">
                                <input type="file" id="fileuploadAddImages" class="add-image__input">
                            </div>
                        </div>

                    </div>
                    <div class="box-field-line">
                        <div class="box-field-line__line"></div>
                    </div>
                    <div class="box-field-title">{% trans %}model_files{% endtrans %}</div>
                    <div class="box-field-group user js-image-wrapper js-files-drop">
                        <label class="box-field__label">{% trans %}model_files{% endtrans %}
                            <span class="require-field-z">*</span> </label>
                        <div class="add-model__file-error"></div>
                        <div class="add-model__file-upload-process"></div>
                        <div class="box-field__input jq-file__no-show">
                            <input type="file" id="fileupload" data-placeholder="" data-browse="{% trans %}upload_file{% endtrans %}" class="styler">
                        </div>
                        <div class="model-files js-model-files"></div>
                    </div>
                    <div class="box-field-line">
                        <div class="box-field-line__line"></div>
                    </div>
                    <div class="box-field-title">{% trans %}model_info{% endtrans %}</div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_manufacturer{% endtrans %}</label>
                        <div class="box-field__input">
                            <input type="text" name="manufacturer" class="form-control"/>
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_tags{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="tags[]" multiple class="js-selectize-add form-control">
                                {% for e in tags %}
                                    <option value="{{ e.name }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_po{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="software[]" multiple class="js-selectize form-control">
                                {% for e in software %}
                                    <option value="{{ e.id }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field col-5">
                        <label class="box-field__label">{% trans %}model_style{% endtrans %}</label>
                        <div class="box-field__input">
                            <select name="style[]" multiple class="js-selectize form-control">
                                {% for e in style %}
                                    <option value="{{ e.id }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-field box-field--2col">
                        <div class="box-field__col">
                            <label class="box-field__label">{% trans %}model_description{% endtrans %}</label>
                            <div class="box-field__input">
                                <textarea name="text" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="box-field__col">
                            <label class="box-field__label">{% trans %}model_description_en{% endtrans %}</label>
                            <div class="box-field__input">
                                <textarea name="textEn" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="box-field login-fields checkbox nowrap">
                        <div class="box-field__input">
                            <input type="checkbox" id="check_2" name="user_agreement" value="1" class="styler">
                            <label for="check_2" class="nowrap box-field__label">{% trans %}i_agree_with{% endtrans %}
                                <a href="{{ path('page_7') }}" target="_blank" class="link">{% trans %}agent_agreement{% endtrans %}</a></label>
                        </div>
                    </div>
                    <button type="submit" class="button button_warning js-add-model-btn" onclick="addModel();return false;">{% trans %}model_add_btn{% endtrans %}</button>
                    <span class="help-text inline add-model__result js-add-model-result"></span>
                </form>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div class="js-category-skeleton">
            <div class="product-categories__category">
                <div class="product-categories__select box-field__input">
                    <select name="categories[]" data-placeholder="Выберите категорию" class="styler-dinamic form-control">
                        <option value=""></option>
                        {% for e in categories %}
                            {% for e2 in e.children %}
                                <option value="{{ e2.id }}">{{ e.name }} / {{ e2.name }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <a href="#" onclick="removeProductCategory(this);return false;">
                    <i class="fa fa-remove product-categories__remove"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_custom %}
    <script type="text/javascript">
        $(function () {

            $('#fileuploadMainImage').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-main-image-drop"),
                formData: {type: 'mainImg'},
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if (data.result.wp_error) {
                        alert(data.result.wp_error_text);
                    } else {
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-main-pic').append(data.result.wp_container);
                        wrapper.find('.js-image-add-input').hide();
                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

            $('#fileuploadAddImages').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-add-image-drop"),
                formData: {type: 'addImg'},
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if (data.result.wp_error) {
                        alert(data.result.wp_error_text);
                    } else {
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-add-pic').append(data.result.wp_container);
                    }
                },
                progressall: function (e, data) {

                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

            $('#fileupload').fileupload({
                url: '{{ oneup_uploader_endpoint('images') }}',
                dropZone: $(".js-files-drop"),
                formData: {type: 'files'},
                dataType: 'json',
                loadImageFileTypes: '/^image\/(gif|jpeg|png)$/',
                sequentialUploads: true,
                done: function (e, data) {
                    if (data.result.wp_error) {
                        alert(data.result.wp_error_text);
                    } else {
                        var wrapper = $(e.target).closest('.js-image-wrapper');
                        wrapper.find('.js-model-files').append(data.result.wp_container);
                    }
                    $(".add-model__file-upload-process").html('0%').hide();
                    $(".jq-file__no-show").show();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(".add-model__file-upload-process").html(progress + '%')
                },
                add: function (e, data) {
                    $(".add-model__file-upload-error").html('').hide();
                    $(".add-model__file-upload-process").html('0%').show();
                    $(".jq-file__no-show").hide();
                    data.submit();
                },
                error: function (e, data) {
                    $(".add-model__file-upload-process").html('0%').hide();
                    $(".add-model__file-upload-error").html('Во время загрузки файла произошла ошибка, проверьте формат загружаемого файла. Его размер не должен превышать 500 Mb.').show();
                    $(".jq-file__no-show").show();
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

        });
    </script>
{% endblock %}